### Import libraries

In [ ]:
# added a comment to test git
import numpy as np 
import pandas as pd
import matplotlib.pylab as plt
import seaborn as sns

### Import data, clean and filter
Filter data based on the following criteria:
- delete responses before Oct 23rd? (I think it's somewhere around this date)
- identify and remove duplicate responses
- identify and remove "test" or "preview" responses
- check duration - if survey was completed super quick, probably not a good response

In [ ]:
# Before loading your data, set display options so you can visualize the max number of columns and rows
pd.set_option('display.max_columns',None)
pd.set_option('display.max_rows', None)

In [ ]:
df = pd.read_csv('Robot.csv')
df

In [ ]:
# Set display options so you can visualize the max number of columns and rows
pd.set_option('display.max_columns',None)

In [ ]:
# Drop irrelevant columns
#df_drop = df.drop(['StartDate', 'EndDate','IPAddress','Progress'], axis=1)
df.drop(columns=df.columns[1:17], inplace=True)
df

#ensure that you've dropped the Start Dat after DATE, the duration if shorter than 2minutes

In [ ]:
df.drop(df.index[0:67], inplace = True) # here, if you use the "inplace = True" argument, then you don't need to create a new variable
df

In [ ]:
df.drop([67,115,153,155], inplace = True) #the deletion of bad data
df

In [ ]:
# Source - https://stackoverflow.com/questions/28538536/deleting-multiple-columns-based-on-column-names
# Posted by Peadar Coyle
# Retrieved 2025-11-06, License - CC BY-SA 4.0

#df.drop(df.columns[[1, 2, 3, 4, 
#5, 6, 7, 8, 9,]], axis=1, inplace=True)

In [ ]:
# You can use this command to change how many rows are displayed throughout the code so it's not always showing the max
pd.set_option('display.max_rows', 5)

In [ ]:
# Create a new column that extracts the number part (1, 2, 3, etc.)
df['group'] = df['Condition'].str.extract(r'(\d+)')
df

In [ ]:
# Now you can group by 'group'
# This creates another column in your dataframe called "group"
grouped = df.groupby('group')
for g, data in grouped:
    print(f"Group {g}")
    print(data)
    print()

type(grouped)

In [ ]:
pd.set_option('display.max_rows',None)

In [ ]:
# you don't need this step, you data "df" is already a dataframe
# df_wide = pd.DataFrame(df)
# df_wide

# instead you can call the melt function directly on the df
df_long = pd.melt(df)
df_long

In [ ]:
# df_first_nars5 = df_first_1000.head(134)

# df_first_nars5 = df_first_nars5.iloc[2:] #this deleted the first two rows bc they were words 
# #iloc = index - location --> accessing rows/columns by integers not positions 


# #below attempt to delte any NaN values
# df_first_nars5 = df_first_nars5.dropna(subset=[df_first_nars5.columns[1]])
# # dropna = drops rows with NaN


# #attempt to get mean on NARS5 vlaues 
# #df_first_nars5["value"].mean()
# df_first_nars5.describe()


# df_first_nars5


# #attempt to plot histogram of values? 

# values = df_first_nars5.columns[1]  
# #changed from object to integer below
# df_first_nars5[values] = pd.to_numeric(df_first_nars5[values])
# print(df_first_nars5[values].dtype) #this checs if object or itneger/float, ensure int!!!


# plt.figure()
# df_first_nars5[values].plot(kind='hist')
# plt.xlabel(values)
# plt.ylabel("Amount")
# plt.title("NARS 5: I would feel very nervous just standing in front of a robot")
# plt.show()

In [ ]:
#Attempt to work on NARS 6 
#df_first_nars6 = df_first_1000.iloc[134:268]

#df_first_nars6 = df_first_nars6.iloc[2:]
#df_first_nars6 = df_first_nars6.dropna(subset=[df_first_nars6.columns[1]])
#df_first_nars6


#copied from cell above 
#values6 = df_first_nars6.columns[1]  
#changed from object to integer below
#df_first_nars6[values6] = pd.to_numeric(df_first_nars6[values6])


#plt.figure()
#df_first_nars6[values6].plot(kind='hist')
#plt.xlabel(values6)
#plt.ylabel("Amount")
#plt.title("NARS 6: I would feel paranoid talking with a robot")
#plt.show()

In [ ]:
pd.set_option('display.max_rows',10)

In [ ]:
df_long3columns = df.melt(
    id_vars=["group","id", "The TG"],         # column that stays as-is
    var_name="variable",       # new column for variable names
    value_name="value"         # new column for values
)

df_long3columns

In [ ]:
# Select rows in the column "variable" wher the value is condition
df_longONLYconditon = df_long3columns[df_long3columns["variable"] == "Condition"]
df_longONLYconditon

# Replace send and keep values with 1 and and 0
df_longONLYconditon=df_longONLYconditon.replace(to_replace=["Send"],value=1)
df_longONLYconditon=df_longONLYconditon.replace(to_replace=["Keep"],value=0)
df_longONLYconditon

In [ ]:
df_longONLYconditon = df_longONLYconditon.sort_values(['group', 'id'])
df_longONLYconditon

In [ ]:
# Drop NA values
df_longONLYconditon = df_longONLYconditon.dropna()
df_longONLYconditon

In [ ]:
df_longONLYconditon["The TG"].dtype

In [ ]:
# The values in "The TG" column are already floats, so you don't need this step
# df_longONLYconditon["The TG"] = pd.to_numeric(df_longONLYconditon["The TG"], errors="coerce")
# df_longONLYconditon["The TG"].dtype

In [ ]:
# Because you set the Send values to 1 and keep to 0, here you're essentially calculating the percentage of send responses per group (i.e. adding up all the 1s and 
# dividing by total responses)

group_means = df_longONLYconditon.groupby("group")["The TG"].mean() 
group_means
#turn this into a boxplot! - TO DO

In [ ]:
# Example way to create quick bar plot
df_longONLYconditon.groupby('group')['The TG'].mean().plot(kind = "bar")
plt.ylabel("Values")
plt.xlabel("Groups")
plt.ylim(0,100)

In [ ]:
#import matplotlib.pyplot as plt # you already have this import at the top
plt.bar(group_means.index.astype(str), group_means.values)


# data1 = df_longONLYconditon.loc[df_longONLYconditon["group"] == 1, "The TG"].values
# data2 = df_longONLYconditon.loc[df_longONLYconditon["group"] == 2, "The TG"].values
# data3 = df_longONLYconditon.loc[df_longONLYconditon["group"] == 3, "The TG"].values
# data4 = df_longONLYconditon.loc[df_longONLYconditon["group"] == 4, "The TG"].values
# import matplotlib.pyplot as plt

# colors = ["#FFB6C1", "#FF87AB", "#FF69B4", "#FF1493"]  # 4 pinks

# plt.hist(data1, bins=30, color=colors[0], alpha=0.6, label="Group 1")
# plt.hist(data2, bins=30, color=colors[1], alpha=0.6, label="Group 2")
# plt.hist(data3, bins=30, color=colors[2], alpha=0.6, label="Group 3")
# plt.hist(data4, bins=30, color=colors[3], alpha=0.6, label="Group 4")


plt.xlabel("Group")
plt.ylabel("Mean of The TG Values")
plt.ylim(50,100)
plt.yticks(range(50, 101, 5))

plt.title("Mean values by group")

plt.show()

In [ ]:
#creating boxplot 

percent_col = "The TG"   

df_longONLYconditon[percent_col] = pd.to_numeric(
    df_longONLYconditon[percent_col],
    errors="coerce"
)

df_longONLYconditon[percent_col] = df_longONLYconditon[percent_col] * 100

groups = [1, 2, 3, 4]

# Collect data for each group
data = [
    df_longONLYconditon.loc[df_longONLYconditon["group"] == g, percent_col].values
    for g in groups
]

print("Lengths per group:", [len(d) for d in data])  # optional: see how many points each has

plt.figure()
plt.boxplot(data, positions=range(1, len(groups) + 1))
plt.xticks(range(1, len(groups) + 1), groups)

plt.xlabel("Group")
plt.ylabel("Percent of responses")
plt.title("Percent of responses by group")

plt.show()

In [ ]:
#this is just to confirm that I have te same values for grous and TG 
print(df_longONLYconditon["group"].value_counts())
print(df_longONLYconditon.groupby("group")["The TG"].count())


percent_col = "The TG"   # or whatever column youâ€™re using on the y axis

print("dtype:", df_longONLYconditon[percent_col].dtype)
print("unique values:", df_longONLYconditon[percent_col].unique())

print(
    df_longONLYconditon
    .groupby("group")[percent_col]
    .agg(["count", "min", "max"])
)

In [ ]:
# frequency table
freq = pd.crosstab(df['group'], df['The TG'])

# create bar plot
freq.plot(kind='bar')

plt.xlabel('Group')
plt.ylabel('Frequency')
plt.title('Frequency of Trust Game results by group')
plt.legend(title='The TG')
plt.tight_layout()
plt.show()

In [ ]:

# df_NARS = df_wide.melt(
#     id_vars=["group","id", "NARS_1"],         # column that stays as-is
#    # var_name="variable",       # new column for variable names
#     #value_name="value"         # new column for values
# )


# #df_NARScolumns = df_NARS[df_long3columns["variable"] == "Condition"]

# df_NARS = df_NARS.sort_values(['group'])
# df_NARS

# group1_NARS = df_NARS[df_NARS["group"] == "1"]
# #print(group1_NARS)
# print(group1_NARS.to_string())

In [ ]:
df_NARScolumns = df_wide.melt(
    id_vars=["group","id", "NARS_1", "NARS_2", "NARS_3", "NARS_4", "NARS_5", "NARS_6", "NARS_7", 
             "NARS_8", "NARS_9", "NARS_10", "NARS_11", "PARS_12", "PARS_13", "PARS_14", 
             "PARS_15", "PARS_16", "PARS_17"],        
    var_name="variable",      
    value_name="value"     
)


df_longONLYconditon = df_NARScolumns[df_NARScolumns["variable"] == "Condition"]
df_longONLYconditon=df_longONLYconditon.replace(to_replace=["Send"],value=1)
df_longONLYconditon=df_longONLYconditon.replace(to_replace=["Keep"],value=0)


df_NARS = df_longONLYconditon.sort_values(['group'])


group1_NARS = df_longONLYconditon[df_longONLYconditon["group"] == "1"]
#print(group1_NARS)
print(group1_NARS.to_string())

In [ ]:
#group1_NARS["NARS_1"] = group1_NARS["NARS_1"].astype(int)

# group1_NARS.loc["NARS_1"] = group1_NARS["NARS_1"].astype(int)
# group1_NARS["NARS_1"].unique()

y_col = "NARS_1"

print(group1_NARS[["group", y_col]].head())
print(group1_NARS[["group", y_col]].dtypes)

group1_NARS["group"] = group1_NARS["group"].astype(str)  # x-axis labels as strings
group1_NARS[y_col] = pd.to_numeric(group1_NARS[y_col], errors="coerce")  # y-axis as numbers
print(group1_NARS[["group", y_col]].dtypes)



plt.bar(df["group"], df[y_col])
plt.xlabel("Group")
plt.ylabel(y_col)
plt.title(f"{y_col} by Group")
plt.show()